@mixin box {
  font-size: 2em;
  font-weight: 800;
  width: 76px;
  height: 76px;
  font-size: 3.5rem;
  // border: solid 2px #555;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.correct {
  @include box;
  background-color: #66a060;
  border: #66a060 solid 2px;
}
.present {
  @include box;
  background-color: #ceb02c;
  border: #ceb02c solid 2px;
}

.absent {
  @include box;
  background-color: #939b9f;
  border: #939b9f solid 2px;
}
.absentLight {
  @include box;
  background-color: #939b9f;
  border: #939b9f solid 2px;
  color: #000000;
}
.empty {
  @include box;
  background-color: rgba(147, 155, 159, 0.3);
}
.edit {
  @include box;
  background-color: rgba(147, 155, 159, 0.3);
}
.white {
  @include box;
  background-color: #fff;
  border: 1px solid #000000;
  color: #000000;
}
.dark {
  @include box;
  background-color: #262b3c;
  border: 1px solid #939b9f;
  color: #fff;
}
