.tools {
  display: flex;
  width: 638px;
  height: 84px;
  border-radius: 15px;
  background-color: #f3f3f3;
  align-items: center;
  padding-left: 22px;
  padding-right: 20px;
  justify-content: space-between;

  &-instructions {
    justify-self: flex-start;
    cursor: pointer;
  }

  h1 {
    font-size: 4rem;
    font-weight: 600;
    margin: 0;
    margin-left: 4rem;
  }
  &-show {
    display: flex;
    align-items: center;
  }
  &-statistics {
    cursor: pointer;
  }
  &-theme {
    padding: 0;
  }
}
