@mixin keybase {
  font-weight: 600;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin keySize {
  width: 44.67px;
  height: 51.05px;
}

.keyboardContainer {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  width: 638px;
  height: 238px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding-top: 33px;
  padding-bottom: 33.95px;
}
.key {
  @include keybase;
  @include keySize;
}
.keyboardFirst {
  margin: 0 50px;
  gap: 9.57px;
}
.keyboardSecond {
  margin-left: 60px;
  gap: 9.57px;
}
.keyboardThree {
  margin-right: 85.22px;
  margin-left: 20px;
  gap: 9.57px;
}
.emptyKey {
  @include keySize;
  display: flex;
  align-items: center;
  justify-content: center;
}
.enterKey {
  @include keybase;
  font-size: 1.5rem;
  width: 71.78px;
  height: 51.05px;
}
.deleteKey {
  @include keybase;
  width: 71.78px;
  height: 51.05px;
}

.correct {
  @include keybase;
  @include keySize;
  background-color: #66a060;
  border: #66a060 solid 2px;
}
.present {
  @include keybase;
  @include keySize;
  background-color: #ceb02c;
  border: #ceb02c solid 2px;
}
.absent {
  @include keybase;
  @include keySize;

  background-color: #818181;
  border: #818181 solid 2px;
}
