.statistics {
  width: 546px;
  height: 480px;
  border-radius: 15px;
  border-width: 1px;

  &-title {
    font-size: 3.5rem;
    font-weight: 800;
  }

  &-games {
    font-size: 2.1rem;
    font-weight: 400;
  }

  &-word {
    font-weight: 400;
    font-size: 1.9rem;
    margin-top: 40px;

    span {
      font-weight: 700;
      font-size: 1.9rem;
    }

    &--mt {
      margin-top: 20px;
    }
  }

  &-timer {
    font-weight: 700;
    font-size: 2.4rem;
  }

  &-button {
    width: 263px;
    height: 50px;
    color: #fff;
    font-size: 2.8rem;
    font-weight: 800;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
  }
}
