.instructions {
  width: 546px;
  max-height: 1018px;
  border-radius: 15px;
  border-width: 1px;

  &-title {
    font-size: 3.5rem;
    font-weight: 800;
    margin-top: 14px;
    margin-bottom: 14px;
  }

  &-description {
    font-weight: 400;
    font-size: 1.9rem;
    margin-left: 42px;
    margin-right: 26px;

    &--m0 {
      margin-right: 0;
    }

    span {
      font-weight: 700;
    }
  }

  &-subtitle {
    font-weight: 700;
    font-size: 1.9rem;
    margin-left: 42px;
    margin-top: 16px;
    margin-bottom: 26px;
  }
  &-button {
    width: 263px;
    height: 50px;
    color: #fff;
    font-size: 2.8rem;
    font-weight: 800;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
  }
}
